* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

section {
    width: 100vw;
    height: 100vh;
    
}

header .container {
    margin-left: 5%;
    margin-right: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 1000;
}
.container {
    margin-left:7%;
    margin-right:10%;
}
#nav_list {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 1.5rem; /* Abstand zwischen den Links */
    align-items: right;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    
}


.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none; /* optional: kein Unterstrich */
    font-weight: bold;
    font-size: large;
    font-family: "Verdana", "Geneva", sans-serif;
    
}

.nav-link:hover{
    text-decoration: underline;
    color: rgb(209, 209, 209);
}


h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    opacity: 0.7;
    font-size: 3rem;
    
}

#home {
    position: relative;    /* damit das absolut positionierte Video innerhalb dieses Containers bleibt */
    height: 100vh;         /* volle Fensterhöhe */
    width: 100vw;          /* volle Fensterbreite */
    padding: 0;            /* kein zusätzliches Padding */
    overflow: hidden;      /* sonst ragen Teile des Videos heraus */
}
#home #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;     /* skaliert und beschneidet, damit kein Rand sichtbar ist */
    z-index: -1;           /* damit Header und Inhalt darüber liegen */
  }

html {
    overflow-x: hidden;
}
#landing_page_text_box {
    position: absolute;
    right: 0%;     /* Abstand von der rechten Seite */
    bottom: 35%;    /* Abstand vom unteren Rand */
    width: auto;   /* oder eine prozentuale Breite, z.B. 30% */
    color: white;  /* falls du weißen Text auf dunklem Hintergrund willst */
}

.landingpage_text {
    font-size: 1.3rem;
    font-family: "Segoe UI", sans-serif;
}
#landing_page_first_text {
    text-align: right;
}
.highlight {
    color: #cfd2f3; /* z.B. ein schönes Blau */
    font-weight: bold;
}